@import "reset.css";

.mainBlock {
  margin: auto;
  width: auto;
  font-family: monaco;
}

h1 {
  margin-top: 30px;
  font-size: 40px;
  text-align: center;
}

p {
  text-align: center;
}

img {
  border-radius: 20px;
  width: 100%;
}

.image {
  margin-bottom: 20px;
  width: auto;
}

.buttonBlock {
  margin: auto;
  width: 250px;
}

.button {
  font-weight: bolder;
  font-size: 18px;
  margin: 30px;
  font-family: monaco;
  border-radius: 10px;
  background-color: orange;
  border-color: orange;
  color: black;
  padding: 10px;
}

.footer {
  margin: auto;
  margin-top: 50px;
  text-align: center;
  font-size: 12px;
}

@media only screen and (min-width: 600px) {
  .mainBlock {
    margin: auto;
    width: 600px;
    height: 500px;
    font-family: monaco;
  }

  h1 {
    margin-top: 30px;
    width: 100%;
    text-align: center;
  }

  p {
    text-align: center;
  }

  img {
    border-radius: 20px;
    width: 150%;
  }

  .image {
    margin-bottom: 20px;
    width: 400px;
  }

  .buttonBlock {
    margin: auto;
    width: 250px;
  }

  .button {
    font-weight: bolder;
    font-size: 18px;
    margin: 30px;
    font-family: monaco;
    border-radius: 10px;
    background-color: orange;
    border-color: orange;
    color: white;
    padding: 10px;
  }

  .footer {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 12px;
    bottom: 0;
    width: 100%;
  }
}
